@import '../variables.scss';

@keyframes flash {
    0% {background-color: transparent;}
    50% {background-color: lightgray;}
    100% {background-color: transparent;}
}

.team {
    // border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-radius: 5px;
    width: 675px;

    &_flags {
        display: flex;
        gap: $inputGap;
        flex-wrap: wrap;
    }

    &.available:hover {
        cursor: pointer;
        background-color: lightgray;
    }

    &.selected {
        opacity: 0.5;
    }

    &.notSelected {
        animation: flash 1s linear infinite;

        & > .team_flags > img {
            transition: 0.5s;
        }

        & > .team_flags > img:hover {
            cursor: pointer;
            transform: scale(1.5) rotateZ(5deg);
        }
    }
}