@import '../variables.scss';

.teamSelect {

    &_input {
        display: flex;
        flex-direction: column;
    }

    &_submit {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > div:first-child {
            
            &.hidden {
                visibility: hidden;
            }
        }
    }
}