// Flag Colors
$white: #ffffff;
$darkblue: #0000fe;
$yellow: #ffff01;
$lightblue: #0cc6df;
$green: #009600;
$orange: #ff8500;
$pink: #ea99ff;

//Background Colors
$mainBackground: white;

//Containers
$containerBorder: 2px solid black;
$containerPadding: 1rem;
$containerBorderRadius: 1rem;
$containerBackgroundColor: lightblue;

//Input
$inputGap: 0.5rem;